<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <!-- Specifică tipul documentului ca HTML și definește spațiile de nume pentru XHTML, Thymeleaf și extensia Spring Security pentru Thymeleaf -->

<head th:fragment="header-css">
    <!-- Definirea fragmentului de antet pentru CSS, care poate fi inclus în alte pagini HTML -->
    <meta charset="UTF-8">
    <!-- Setarea charset-ului la UTF-8 pentru a suporta caractere internaționale -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Setarea viewport-ului pentru a asigura responsivitatea pe dispozitive mobile -->
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.1.0/css/bootstrap.min.css/}" />
    <!-- Includerea stilului Bootstrap din WebJars -->
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/font-awesome/5.0.10/web-fonts-with-css/css/fontawesome-all.min.css}" />
    <!-- Includerea Font Awesome pentru iconițe -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <!-- Includerea unui fișier CSS personalizat -->
    <title th:text="#{header.app.title}"></title>
    <!-- Titlul paginii, tradus dintr-un fișier de proprietăți pentru internaționalizare -->
</head>

<body>
    <div th:fragment="header">
        <!-- Definirea fragmentului de antet, care poate fi inclus în alte pagini HTML -->
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <!-- Crearea unei bare de navigație Bootstrap, extensibilă și cu un fundal închis -->
            <a class="navbar-brand" href="/home">N3XT</a>
            <!-- Logo-ul sau numele brandului, cu un link către pagina de acasă -->
            <div class="collapse navbar-collapse w-100 order-1 order-md-0 dual-collapse2" id="navbarNavAltMarkup">
                <!-- Secțiune pentru elementele colapsabile ale navbar-ului -->
                <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
                    <!-- Container pentru elementele navbar-ului care colapsează -->
                    <form class="form-inline ml-5 my-2 my-lg-0">
                        <!-- Formular pentru căutare cu stilizare Bootstrap -->
                        <input class="form-control mr-sm-2" type="search" title="search-product">
                        <!-- Câmp de căutare pentru produse -->
                        <button type="submit" th:text="#{header.search}" class="btn my-2 my-sm-0 btn-outline-light"></button>
                        <!-- Buton pentru trimiterea căutării -->
                    </form>
                    <ul class="navbar-nav ml-auto">
                        <!-- Lista de navigație în partea dreaptă -->
                        <li class="navbar-text" th:text="#{header.logged}" sec:authorize="isAuthenticated()"></li>
                        <!-- Element care afișează textul 'Logged in' dacă utilizatorul este autentificat -->
                        <li class="nav-item" sec:authorize="isAuthenticated()">
                            <!-- Verifică dacă utilizatorul este autentificat pentru a afișa elementele următoare -->
                            <a class="nav-link" sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/admin}" style="color: #1e90ff" th:text="${#httpServletRequest.getRemoteUser().toUpperCase()}"></a>
                            <!-- Link pentru admini -->
                            <a class="nav-link" sec:authorize="hasRole('ROLE_USER')" th:href="@{/user}" style="color: #91a8ff;" th:text="${#httpServletRequest.getRemoteUser().toUpperCase()}"></a>
                            <!-- Link pentru utilizatori obișnuiți -->
                        </li>
                        <li class="nav-item" sec:authorize="isAuthenticated()">
                            <!-- Verifică dacă utilizatorul este autentificat -->
                            <a class="nav-link" th:href="@{/logout}" th:text="#{user.log_out}"></a>
                            <!-- Link pentru deconectare -->
                        </li>
                       
                        <li class="nav-item" sec:authorize="!isAuthenticated()">
                            <!-- Verifică dacă utilizatorul nu este autentificat -->
                            <a class="nav-link" th:href="@{/register}" th:text="#{register.button}"></a>
                            <!-- Link pentru înregistrare -->
                        </li>
                        <li class="nav-item">
                            <!-- Element de navigare general -->
                            <a th:href="@{/cart}"><img id="cart" th:src="@{/images/cart.png}"></a>
                            <!-- Link către coșul de cumpărături cu o imagine reprezentativă -->
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</body>

</html>
